<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Quantified Self App</title>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <script type="text/javascript" src="{{ url_for('static',filename='js/custom_validations.js') }}"> </script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.6.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/moment.min.js') }}"></script>
	<link rel="stylesheet"  type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap-datetimepicker.min.css') }}"/>
	<script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js') }}"></script>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Quantified Self</h1>
		 <h1 class="display-4">Hello {{ username }}</h1>
        <h4>Log {{trackername}}</h4>
      </div>
			<form method="POST">
  <input type="hidden" name="username" id="username" value={{username}}></input>
  <input type="hidden" name="trackername" id="trackername" value={{trackername}}></input>
  <input type="hidden" name="userid" id="userid" value={{userid}}></input>
  <input type="hidden" name="trackerid" id="trackerid" value={{trackerid}}></input>
  <input type="hidden" name="trackertype" id="trackertype" value={{trackertype}}></input>
  <div class="form-group row">
    <label for="When" class="col-sm-2 col-form-label">When</label>
    <div class="col-sm-2 row">
	 <label for="Date" class="col-sm-1 col-form-label">Date</label>
      <input type="text" class="form-control" name ="date" id="date" placeholder="Date" >
	 </div>
	 <div class="col-sm-2 row">
	 <label for="Time" class="col-sm-1 col-form-label">Time</label>
	  <input type="text" class="form-control" name="time" id="time" placeholder="Time" >
    </div>
  </div>
  <div class="form-group row">
    <label for="value" class="col-sm-2 col-form-label">Value</label>
	<!-- to change based on type -->
	<div class="col-sm-10">
      
	{% if trackertype == 1 %}
		<input type="number" min="0" class="form-control" id="numericInput" name="trackedvalue">
	 {% elif trackertype == 2 %}
	 {% set	values = settings.split(',') %}
	 {%	for value in values  %} 
			<div class="form-check">
				<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value={{value}} checked>
				<label class="form-check-label" for="exampleRadios1">
				<span >{{value}}</span>
				</label>
			</div>
	 {% endfor %}
	 {% else %}
	    <input type="text" min="0" class="form-control" id="textInput" name="trackedvalue">
	 {% endif %}

    </div>
  </div>
    <div class="form-group row">
    <label for="notes" class="col-sm-2 col-form-label">Notes</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" id="notes" name="notes"> </textarea>
    </div>
  </div>
  
  
  <div class="container">
  <div class="row">
  <div class="col-sm">
     
    </div>
    <div class="col-sm">
      <button type="submit"  class="btn btn-success btn-lg">Log It</button>
    </div>

	</div>
  </div>

  
</form>

  <script>
  $('#date').datetimepicker({
    format: 'yyyy-MM-DD'
	});
	
	 $('#time').datetimepicker({
    format: 'hh:mm:ss a'
	});
	</script>
  </body>
</html>
